/* the props */
@import url('@spectrum-css/tokens/dist/css/index.css');
@import url('@spectrum-css/typography/index.css');
@import url('@spectrum-css/icon/index.css');
@import url('@spectrum-css/link/index.css');
@import url('@spectrum-css/sidenav/index.css');
@import url('@spectrum-css/splitview/index.css');
@import url('@spectrum-css/divider/dist/index.css');

:root {
  --brand: var(--spectrum-cyan-800);
  --text-1: var(--spectrum-cyan-1200);
  --text-2: var(--spectrum-cyan-400);
  --text-3: var(--spectrum-cyan-800);
  --surface-1: var(--spectrum-gray-300);
  --surface-2: var(--spectrum-gray-500);
  --surface-3: var(--spectrum-gray-700);
  --surface-4: var(--spectrum-gray-900);
  --github-green: #08872b;

  /* Spectrum normally uses fixed pixel based sizing.  This lets me use relative sizing */

  /* idea taken from open-props */
  --size-000: -0.5rem;
  --size-00: -0.25rem;
  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 1rem;
  --size-4: 1.25rem;
  --size-5: 1.5rem;
  --size-6: 1.75rem;
  --size-7: 2rem;
  --size-8: 3rem;
  --size-9: 4rem;
  --size-10: 5rem;
  --size-11: 7.5rem;
  --size-12: 10rem;
  --size-13: 15rem;
  --size-14: 20rem;
  --size-15: 30rem;
  --header-height: 7vh;
  --logo-vertical-margin: 2px;

  /* customize the spectrum-css tokens */
  --mod-button-background-color-default: var(--text-1);
  --mod-button-content-color-default: var(--text-3);
  --mod-divider-background-color: var(--text-1);
  --mod-body-font-color: var(--text-1);
  --mod-heading-font-color: var(--text-1);
  --mod-splitview-background-color: var(--surface-1);
  --mod-table-header-background-color-scrollable: var(--text-1);
  --mod-table-header-background-color: var(--text-1);
  /* stylelint-disable-next-line custom-property-pattern */
  --mod-table-header-background-color--quiet: var(--text-1);
  --mod-table-header-text-color: var(--text-2);
  /* stylelint-disable-next-line custom-property-pattern */
  --mod-table-row-background-color--quiet: var(--surface-1);
  --mod-table-row-background-color-hover: var(--surface-3);
  --mod-table-row-background-color: var(--surface-1);
  --mod-table-row-text-color: var(--text-1);
  --mod-button-border-color-default: var(--surface-2);
}

html,
body {
  color: var(--text-1);
  display: flex;
  flex-direction: column;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--spectrum-background-base-color);
}

h5,
h6,
small,
dd {
  color: var(--text-3);
}

header {
  width: 100vw;
  margin: 0;
  padding: 0;
  height: var(--header-height);
  box-sizing: border-box;
  flex-shrink: 0;
}

div.spectrum-SplitView.spectrum-SplitView--horizontal,
main {
  height: 88vh;
  flex-grow: 1;
}

div.spectrum-SplitView-pane {
  height: 88vh;
  overflow: auto;
}

main,
article {
  height: fit-content;
  margin: 8px;
}

footer {
  height: 5vh;
  flex-shrink: 0;
}

div#nav {
  max-width: 20vw;
  flex: 1;
}

div#main {
  width: 80vw;
  min-height: 100%;
  padding: 0 1rem;
}

li
  > ul.spectrum-SideNav.spectrum-SideNav--multilevel
  > li.custom-depth.spectrum-SideNav-item {
  padding-inline-start: 1em;
}

.is-selected > ul a {
  color: var(
    --highcontrast-sidenav-font-color,
    var(--mod-sidenav-font-color)
  ) !important;
  background-color: var(--mod-sidenav-background-default) !important;
}

a.spectrum-SideNav-itemLink > iconify-icon {
  display: inline-block;
  margin: 0.5em 1em;
}

aside.note {
  padding: 0 3rem;
  color: var(--spectrum-green-800);
  font-family: var(
    --mod-body-serif-font-family,
    var(--spectrum-body-serif-font-family)
  );
  line-height: var(--mod-body-line-height, var(--spectrum-body-line-height));
}
