/* the props */
@import url('@spectrum-css/tokens/dist/css/index.css');
@import url('@spectrum-css/typography/dist/index.css');
@import url('@spectrum-css/icon/dist/index.css');
@import url('@spectrum-css/link/dist/index.css');

:root {
  --brand: var(--spectrum-cyan-800);
  --text-1: var(--spectrum-cyan-1200);
  --text-2: var(--spectrum-cyan-400);
  --surface-1: var(--spectrum-gray-300);
  --surface-2: var(--spectrum-gray-500);
  --surface-3: var(--spectrum-gray-700);
  --surface-4: var(--spectrum-gray-900);

  /* Spectrum normally uses fixed pixel based sizing.  This lets me use relative sizing */

  /* idea taken from open-props */
  --size-000: -0.5rem;
  --size-00: -0.25rem;
  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 1rem;
  --size-4: 1.25rem;
  --size-5: 1.5rem;
  --size-6: 1.75rem;
  --size-7: 2rem;
  --size-8: 3rem;
  --size-9: 4rem;
  --size-10: 5rem;
  --size-11: 7.5rem;
  --size-12: 10rem;
  --size-13: 15rem;
  --size-14: 20rem;
  --size-15: 30rem;
  --mod-button-background-color-default: var(--text-1);
  --mod-button-content-color-default: var(--text-2);
}

html,
body {
  background-color: var(--surface-1);
  color: var(--text-1);
  accent-color: var(--link);
}

h1,
h2,
h3,
h4,
p,
dt,
span {
  color: var(--text-1);
}

h5,
h6,
small,
dd {
  color: var(--text-2);
}
