[% WRAPPER layouts/default.tt %]

<link rel="stylesheet" href="/css/GeneralTable.css" />
<script type="module">
  import "/js/lib/Generals/Pair/index.js";
</script>

<div class="general-comparison">
  <div class="general-table-container">
    <state-manager>
      <div class="filter-row">
        <pair-filter is_primary form_title="Primary General"></pair-filter>
        <pair-filter form_title="Secondary General"></pair-filter>
      </div>
      <pair-picker>
        <div class="note">
          <div class="title">
            <p class="spectrum-Body spectrum-Body--serif spectrum-Body--sizeM">
              Note:
            </p>
          </div>
          <p class="spectrum-Body spectrum-Body--serif spectrum-Body--sizeM">
            Please be aware that this table does not properly account for generals that have conflicts with generic skill books.
            It will over estimate the buffs for pairs in such cases, by the value of the conflicting skill book.
          </p>
        </div>
        <pair-table>
          <pair-data></pair-data>
        </pair-table>
      </pair-picker>
    </state-manager>
  </div>
</div>

[% END %]
