Game-EvonyTKR.geany
cdk.out
cdk.context.json 
/Game-EvonyTKR-*
/.build
/_build*
/Build
MYMETA.*
!META.json
/.prove
*.tdy
.vscode
MANIFEST
*.bak
META.json
META.yml
blib
.DS_Store

# sst
.sst

node_modules
cdk.out

*.d.ts.map
tsconfig.build.tsbuildinfo
share/tmp
minion.db
minion.db-wal
minion.db-shm
*.lock
var/

*.csv
*.pkl
conflicts.json
pnpm-lock.yaml

# Generated config files
game-evony_t_k_r.production.yml
EvonyTKR.sublime-workspace
