[Unit]
    Description=Evony TKR Tips Website
    After=network.target

    [Service]
    Type=simple
    User=appuser
    PIDFile=/opt/prefix/var/run/Game-EvonyTKR.pid
    ExecStart=/opt/prefix/app/bin/server.pl
    ExecReload=/bin/kill -HUP $MAINPID
    TimeoutStartSec=900
    KillMode=mixed
    Restart=always

    [Install]
    WantedBy=multi-user.target
