[% WRAPPER layouts/default.tt %]

<div class="collection-list">
  <h2 class="spectrum-Heading spectrum-Heading--sizeL">Generals</h2>
  <ul class="collection-grid">
    [% IF items && items.size > 0 -%]
      [% FOREACH item IN items.sort('name') -%]
        <li class="collection-item">
          <a href="/Reference/Generals/[% item.name %]" class="spectrum-Link spectrum-Link--primary">
            [% item.name %]
          </a>
        </li>
      [% END -%]
    [% ELSE -%]
      <li class="collection-item">
        <span class="spectrum-Body spectrum-Body--sizeM">No generals available</span>
      </li>
    [% END -%]
  </ul>
</div>

[% IF static_content -%]
  <hr role="separator" class="spectrum-Divider spectrum-Divider--sizeM" />
  <article>
    [% static_content %]
  </article>
[% END -%]

[% END %]
