[% WRAPPER layouts/default.tt %]

<link rel="stylesheet" href="/css/collectionIndex.css" />

<article>
  <h1 class="spectrum-Heading spectrum-Heading--sizeXL">General Comparison Tables</h1>

  <p class="spectrum-Body spectrum-Body--sizeL">
    Compare generals by troop type and buff activation. Select a troop type to begin:
  </p>
</article>

<div class="link-grid">
  [% FOREACH type IN troop_types -%]
    <a
      href="[% type.path %]"
      class="link-item spectrum-Button spectrum-Button--outline spectrum-Button--primary spectrum-Button--sizeM"
    >
      <span class="spectrum-Button-label">
        [% type.name %]
      </span>
    </a>
  [% END -%]
</div>

[% END %]
